@section StyleSheet {
    <link rel="stylesheet" href="~/Content/Vending/About.css" />
}

@section Scripts {
    <script src="~/Scripts/Vending/About.js" defer></script>
}

@section Title {
    About
}

    <div class="container stuff">
        <div class="row">
            <div class="col">
                <a href="https://www.linkedin.com/in/chris-rupp-9267702/"><img class="chris" src="~/Images/ChristopherJRupp.jpg" /></a>
                <div class="name">Chris Rupp</div>
                <div class="quote">".Net or .Net not, there is no Java" - Chris Rupp</div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/mdmcclean/"><img src="~/Images/michael.jpg" /></a>
                    <div class="name">Michael McClean</div>
                    <div class="quote">"JavaScript, no rules!"</div>
                </div>
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/beccabarnum/"><img src="~/Images/becca.jpg" /></a>
                    <div class="name">Becca Barnum</div>
                    <div class="quote">"Do unto others as you would have them do unto you."</div>
                </div>
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/mitchelldorsey/"><img src="~/Images/mitch.jpg" /></a>
                    <div class="name">Mitch Dorsey</div>
                    <div class="quote">"Roses are red, violets are blue. Chris uses breakpoints, you should too!"</div>
                </div>
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/micahknabb/"><img src="~/Images/micah.jpg" /></a>
                    <div class="name">Micah Knabb</div>
                    <div class="quote">"Save the seaturtles."</div>
                </div>
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/thomaswoodjr/"><img src="~/Images/tj.jpg" /></a>
                    <div class="name">TJ Wood</div>
                    <div class="quote">"Remember that sometimes not getting what you want is a wonderful stroke of luck."</div>
                </div>
            
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/dave-kruska/"><img src="~/Images/dave.jpg" /></a>
                <div class="name">Dave Kruska</div>
                <div class="quote">"hmmmmmmmm...."</div>
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/lucasfrazier/"><img src="~/Images/lucas.jpg" /></a>
                <div class="name">Lucas Frazier</div>
                <div class="quote">"You can't put a price on the value of a break point."</div>
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/mpmarkgraf/"><img src="~/Images/michaelmarkgraf.jpg" /></a>
                <div class="name">Michael Markgraf</div>
                <div class="quote">"Raw chicken is life."</div>
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/zach-chaney/"><img src="~/Images/zach.jpg" /></a>
                <div class="name">Zach Chaney</div>
                <div class="quote">"I brake for no tables."</div>
            </div>

        </div>

    </div>